@tailwind base;

@tailwind components;

@tailwind utilities;

/* .triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
} */

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 55px solid red;
  border-left: 55px solid transparent;
}
